server:
  port: 8081

spring:
  application:
    name: course-service

  datasource:
    url: jdbc:postgresql://localhost:5432/courseDB
    username: postgres
    password: 12345678
    driver-class-name: org.postgresql.Driver
  mail:
    host: smtp.gmail.com
    port: 587
    username: ordukhanm20@gmail.com
    password: jgpjxzpmzosgznry
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

application:
  config:
    student-url: http://localhost:8080/api

logging:
  file:
    name: logs/course-service.log
  level:
      com:
        car:
          courseservice: INFO
      org:
        springframework:
          web: DEBUG